* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --blue: #19a0df;
    --gray: #dddddd;
    --yellow: #eecb05;
    --white: #f5f5f5;
    --dark-gray: #4b4b4b;

/*profile pics*/
    --tegan:url(./assets/img/avatar2.png);
    --morgan:url(./assets/img/avatar1.png);
    --kendall:url(./assets/img/avatar2.png);
    --alex:url(./assets/img/avatar4.png);
    
/*icons*/
    --search:url(./assets/img/search.svg);
    --notification:url(./assets/img/bell.svg);
    --save:url(./assets/img/bookmark.svg);
    --view:url(./assets/img/eye.svg);
    --share:url(./assets/img/share.svg);
}

body {
    display: flex;
    height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

li, button, h2 {
    cursor: pointer;
    background: none;
    border: none;
    flex: none;
}

button:hover,
input:hover,
li:hover,
.announcements h2:hover {
    opacity: 0.85;
}

.thumb {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0.3rem 0;
    flex: none;
    background-repeat:no-repeat;
    background-position: center;
    background-size:contain;
    box-shadow: 2px 2px 10px hsl(0, 0%, 40%);

    &:hover {
        outline: var(--yellow) solid 5px;
    }
}

.container {
    flex: 1;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content min-content auto;
}

.sidebar {
    grid-row: 1/-1;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    padding: 2rem 1rem;
    z-index: 2;
    box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.2);

    .logo {
        font-size: 1.5rem;
        font-weight: 800;
        text-align: center;
    }
    ul {
        position: relative;
        margin: 3em 2em;
    }
    i {
        margin-right: 0.5rem;
    }
    li {
        position: relative;
        margin: 0.75em 0;
        font-size: 1.2rem;
        font-weight: 500;
        &:hover {
            transform: translateX(10px);
        }
    }
}

.header {
    grid-column: 2/-1;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--white);

    button {
        background-repeat:no-repeat;
        width: 1.3rem;
        height: 1.3rem;
    }
}


.search-bar {
    flex: 1;
    display: flex;
    align-items: center;

    button.search {
        background-image:var(--search);
    }
    input {
        flex:inherit;
        border: 1px solid hsl(0, 0%, 75%);
        border-radius: 20px;
        background-color: var(--gray);
        height: 1.7rem;
        max-width: 80%;
        margin-inline: 0.5em;
        box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
        padding: 0 1rem;
    }
    input:hover {
        background-color: hsl(0, 0%, 90%);
    }
}

.user-area {
    display: flex;
    align-items: center;
    font-weight: bold;

    li {
        margin-inline: 0.5em;
    }
    button.notification {
        background-image: var(--notification);
    }
    .thumb {
        background-image: var(--morgan);
        width: 40px;
        height: 40px;
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: var(--white);

    .thumb {
        background-image: var(--morgan);
    }
    .user-message {
        margin-inline: 1em;
    }
    .user-welcome {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 700;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    button {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
        border-radius: 25px;
        margin-inline: 0.5em;
        font-weight: 800;
        color: var(--white);
        background-color: var(--blue);
        &:hover {
            outline: var(--yellow) solid 2px;
        }
    }
    .actions {
        margin-left: auto;
        display: flex;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--gray);
    padding: 1rem;
    box-shadow: inser 10px 0px 10px rgba(0, 0, 0, 0.2)
}

.projects {
    position: relative;
    flex: 999;
    display: grid;
    margin: 1rem;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: min-content max-content;
    grid-auto-rows: max-content;

    >.title {
        grid-column: 1/-1;
        font-size: 1.5rem;
        font-weight: 800;
    }
}

.card {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding:1rem 2rem 1rem;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 2px 3px 2px 2px hsl(0, 0%, 70%),
                inset 10px 0px 0px var(--yellow);
    overflow: hidden;

    .title {
        font-size: 1.3rem;
    }
    p {
        overflow: hidden;
        max-height: 9.6em;
        line-height: 1.2em;
    }
    .button-container {
        margin-top: auto;
        align-self: self-end;
    }
    button {
        background-repeat:no-repeat;
        background-position: center;
        width: 1.3em;
        height: 1.3em;
        margin: 0.3rem;

        &.favourite {
            background-image: var(--save);
        }
        &.add-view {
            background-image: var(--view);
        }
        &.share {
            background-image: var(--share);
        }
    }
    &:hover {
        background-color: hsl(0, 0%, 95%);
        box-shadow: 2px 3px 2px 2px hsl(0, 0%, 70%),
                 inset 10px 0px 0px var(--yellow),
                 inset 2px 2px 2px var(--yellow),
                 inset -2px -2px 2px var(--yellow);
    }
}

.announcements {
    flex: 1 0 auto;
    width: 350px;
    margin: 1rem;

    .title {
        font-size: 1.5rem;
        font-weight: 800;
    }    
    >div {
        margin: 1.5rem 0;
        padding: 1.3rem;
        background-color: var(--white);
        border: 1px solid var(--gray);
        border-radius: 15px;
        box-shadow: 2px 3px 2px 2px hsl(0, 0%, 70%);
    }
    >div:nth-child(2) {
        p {
            margin: 1rem 0;
        }
        h2 {
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }
    }
}

.trending {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-around;

    >div {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 0 1em;
    }
    h2 {
        align-self:end;
        font-size: 1rem;
    }
    .thumb {
        justify-self: end;
        grid-row: 1/span 2;
    }
    .tegan {
        background-image: var(--tegan);
    }
    .morgan {
        background-image: var(--morgan);
    }
    .kendall {
        background-image: var(--kendall);
    }
    .alex {
        background-image:var(--alex);
    }
}