* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

:root {
    --blue: #19a0df;
    --gray: #dddddd;
    --yellow: #eecb05;
    --white: #f5f5f5;
    --dark-gray: #4b4b4b;
}

body {
    display: flex;
    height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

li, button, h2 {
    cursor: pointer;
    background: none;
    border: none;
}

.container {
    flex: 1;
    display: grid;
    grid-template-columns: 305px 1fr;
    grid-template-rows: min-content min-content auto;
}

.sidebar {
    grid-row: 1/-1;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    padding: 1em;
    z-index: 2;
    box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.2)
}

.sidebar .logo {
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 2px;
}

.sidebar ul {
    margin: 3em 2em 3em 1em;
}

.sidebar li {
    margin: 0.75em 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.sidebar li:hover {
    transform: translateX(10px);
}

.sidebar i {
    margin: 0 0.5rem;
}

.header {
    grid-column: 2/-1;
    display: flex;
    gap: 5vw;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--white);
}

.header li {
    margin: 0 0.5em;
}

.search-bar {
    flex: 1;
    display: flex;
    align-items: center;
}

button:hover,
input:hover,
li:hover,
.announcements h2:hover {
    opacity: 0.85;
}

button.search {
    background-image: url(./assets/img/search.svg);
    background-repeat: no-repeat;
    width: 1.3rem;
    height: 1.3rem;
}

.search-bar input {
    border: 1px solid hsl(0, 0%, 75%);
    border-radius: 20px;
    background-color: var(--gray);
    height: 1.7rem;
    width: 90%;
    margin: 0 0.5rem;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 0 1rem;
}

.search-bar input:hover {
    background-color: hsl(0, 0%, 90%);
}

.user-area {
    display: flex;
    align-items: center;
    font-weight: bold;
}

button.notification {
    background-image: url(./assets/img/bell.svg);
    background-repeat:no-repeat;
    width: 1.3rem;
    height: 1.3rem;
}

.thumb {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0.3rem 0;
    background-repeat:no-repeat;
    background-position: center;
    background-size:contain;
    box-shadow: 2px 2px 10px hsl(0, 0%, 40%);
}

.thumb:hover {
    outline: var(--yellow) solid 2px;
}

.header .thumb {
    width: 40px;
    height: 40px;
}

.thumb.morgan {
    background-image: url(./assets/img/avatar1.png); 
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: var(--white);
}

.nav .thumb,
.header button {
    flex: none;
}

.nav .user-message {
    margin: 0 1em;
}

.user-welcome {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
}

.user-welcome a {
    text-decoration: none;
    color: inherit;
}

.nav button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    margin: 0 0.5rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
}

.nav button:hover {
    outline: var(--yellow) solid 2px;
}

.actions {
    margin-left: auto;
    display: flex;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--gray);
    padding: 1rem;
    box-shadow: inser 10px 0px 10px rgba(0, 0, 0, 0.2)
}

.projects {
    flex: 1;
    display: grid;
    margin: 1rem;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: min-content 350px;
    grid-auto-rows: 350px;
}

.projects>.title {
    grid-column: 1/-1;
}

.projects .title, .announcements .title {
    font-size: 1.5rem;
    font-weight: 800;
}

.card p {
    overflow: hidden;
    max-height: 9.6em;
    line-height: 1.2em;
}

.card .title, .announcements>div:nth-child(2) h2 {
    font-size: 1.3rem;
    margin: 0 0 1rem 0;
}

.card, .announcements>div {
    padding: 1.3rem;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    border-radius: 15px;
    box-shadow: 2px 3px 2px 2px hsl(0, 0%, 70%);
}

.card {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    box-shadow: 2px 3px 2px 2px hsl(0, 0%, 70%), inset 10px 0px 0px var(--yellow);
    overflow: hidden;
}

.card:hover {
    margin: 5px;
    box-shadow: 2px 3px 2px 2px hsl(0, 0%, 70%), inset 10px 0px 0px var(--yellow);

}

.card-buttons {
    margin-top: auto;
    align-self: self-end;
}

.card-buttons button {
    margin: 0.3rem;
}

.card button {
    background-repeat:no-repeat;
    background-position: center;
    width: 1.3em;
    height: 1.3em;
}

button.favourite {
    background-image: url(./assets/img/bookmark.svg);
}

button.add-view {
    background-image: url(./assets/img/eye.svg);
}

button.share {
    background-image: url(./assets/img/share.svg);
}

.announcements {
    width: 350px;
    margin: 1rem;
}

.announcements div:nth-child(2) p {
    margin: 1rem 0;
}

.announcements>div {
    background-color: whitesmoke;
    margin: 1.5rem 0;
}

.trending {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0 1em;
}

.trending .thumb {
    background-repeat:no-repeat;
    background-position: center;
    background-size:contain;
    width: 70px;
    height: 70px;
    margin: 0.3rem 0;
}

.trending h2 {
    align-self:end;
    font-size: 1rem;
}

.trending .thumb.tegan {
    grid-row: 1/ span 2;
    background-image: url(./assets/img/avatar2.png);
}

.trending .thumb.morgan {
    grid-row: 3/ span 2;
}

.trending .thumb.kendall {
    grid-row: 5/ span 2;
    background-image: url(./assets/img/avatar4.png);
}

.trending .thumb.alex {
    grid-row: 7/ span 2;
    background-image: url(./assets/img/avatar4.png);
}